.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 100%;
}

.murat{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed !important;
  top: 0 !important;
  background-color: white !important;
  z-index: 100;
  left: 0;
}

.MuiSvgIcon-root{
  color: black !important;
}

.header_murat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.MuiButton-outlined{
  border-radius: 20px !important ;
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: rgb(34, 34, 34) !important;
}
.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}

.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
  background-color: white;
}

.header__center > input {
  border: none;
  padding: 10px;
  outline-width: 0;
  background-color: white;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}
